$colors: (
    'common': (
        'white': #ffffff,
        'white-2': #f2f5f5,
        'black': #071516,
        'yellow': #ffa33b,
        'red': #E52700,
        'petals': #EBF8EB,
    ),
    'grey': (
        '1':#5f556a,
        '2':#a29f9f,
        '3':#f7f9f9,
    ),
    'theme': (
        '1': #FD4621,
    ),
    'border': (
        '1': rgba(17, 17, 17, 0.08),
    )
);



$white : #ffffff;
$black : #071516;
$theme-primary : #FD4621;
$border-primary : rgba(17, 17, 17, 0.08);